<!doctype html>
<html>
  <head>
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag "all" %>
    <%= stylesheet_link_tag "all" %>
    <%= javascript_include_tag  "all" %>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="../favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="../favicon/manifest.json">
    <link rel="mask-icon" href="../favicon/safari-pinned-tab.svg" color="#0062df">
    <link rel="shortcut icon" href="../favicon/favicon.ico">
    <meta name="msapplication-config" content="../favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <!-- Favicon -->
    <link href="stylesheets/components/hover.scss" rel="stylesheet" media="all"> 
  </head>

  <body class="<%= page_classes %>">

    <nav class="navbar navbar-default navbar-fixed-top navbar-wagon" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <% link_to "/index.html", class: "navbar-brand" do %>
            <%= image_tag 'logo.svg' %>
          <% end %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav navbar-right">
            <li>
              <% link_to "#" do %>
                Comment ça marche ?
              <% end %>
            </li>
            <li>
              <% link_to "#" do %>
                Fonctionnalités
              <% end %>
            </li>
            <li>
              <% link_to "#" do %>
                F.A.Q.
              <% end %>
            </li>
            <li>
              <% link_to "#" do %>
                <i class="fa fa-envelope-o"></i> Contact
              <% end %>
            </li>
            <li><a href="#" data-toggle="modal" data-target="#subscribe-modal" class="btn">ÊTRE INFORMÉ</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <%= yield %>

    <!-- Modal -->
    <div class="modal fade" id="subscribe-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Soyez notifié par email du lancement de l'appli</h4>
          </div>
          <div class="modal-body">
            <form action="">
              <div class="form-group">
                <label for="email">Votre email</label>
                <input type="email" id="email" class="form-control" placeholder="john.durant@gmail.com">
              </div>
              <div class="form-group">
                <label for="telephone">Votre Prénom et NOM</label>
                <input type="text" id="telephone" class="form-control" placeholder="John Durant">
              </div>
              <input type="submit" value="Confirmer" class="btn btn-danger btn-rounded btn-lg">
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <div id="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-4">
            <ul class="list-inline">
              <li><a href="https://linkedin.com/in/michaelsaifoudine" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
          <div class="col-xs-8 text-right">
            <p>Website designed by Michael Saifoudine</a></p>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>